/* Copyright 2024 @rossbulat/polkadot-live-app authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

/* Mixins */

@mixin modal-position {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@mixin modal-motion-sections {
  display: flex;
  height: auto;
  position: relative;
  overflow: hidden auto;
}

@mixin modal-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: inherit transparent;

  ::-webkit-scrollbar {
    width: 0.1rem;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
    border: 0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: transparent; /* color of the scroll thumb */
    border-radius: 2rem; /* roundness of the scroll thumb */
    border: 0.1rem solid transparent; /* creates padding around scroll thumb */
  }
}

/* Component styles */

.modal-motion-two-sections {
  @include modal-motion-sections;

  width: 200%;

  > .section {
    @include modal-scrollbar;

    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    min-width: 50%;
    height: auto;
    overflow: hidden auto;
    flex-grow: 1;
  }
}

.modal-carousel {
  display: flex;
  flex-flow: column wrap;
  padding: 0;
  position: relative;
  overflow: hidden auto;
  width: 100%;
}

.modal-tabs {
  width: 100%;
  display: flex;
  margin: 1.25rem 0 0.25rem;
}


.modal-hardware-item {
  background: var(--background-default);
  border: 1px solid var(--border-primary-color);
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  width: 100%;

  .body {
    padding: 0.5rem 0.85rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .row {
      display: flex;
      justify-content: center;

      p {
        margin-bottom: 0;
      }
      &.margin {
        margin-top: 0.75rem;
      }
      .logo {
        color: var(--text-color-secondary);
        height: 3rem;
        margin: 0.75rem 0.5rem 0.5rem;
      }
    }

    .status {
      position: absolute;
      top: 0.9rem;
      right: 0.9rem;
    }
  }
}

.modal-connect-item {
  flex-grow: 0;

  &.can-connect {
    > .inner {
      transition: transform 0.15s;

      &:hover {
        transform: scale(1.015);
      }
    }
  }

  .foot {
    padding: 0.85rem;

    .link {
      color: var(--text-color-secondary);
      transition: color 0.15s;

      &:hover {
        color: var(--accent-color-primary);
      }
      > svg {
        margin-left: 0.35rem;
        margin-top: 0.3rem;
      }
    }
  }
}

.modal-canvas {
  @include modal-position;

  /* Blur effect */
  background: var(--modal-background-color);
  transition: backdrop-filter 0.5s;
  backdrop-filter: blur(4px);
  z-index: 9;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  position: fixed;
  z-index: 10;

  /* click anywhere behind modal content to close */
  .close {
    @include modal-position;

    z-index: 8;
    cursor: default;
  }
}

.canvas-scroll {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden auto;
  z-index: 9;
  max-width: 800px;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &.xl {
    max-width: 1250px;
  }
}

.modal-content {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  padding: 5rem 0;

  > .buttons {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 2rem;
    position: relative;

    > button {
      border: 1px solid var(--accent-color-primary);
      color: var(--accent-color-primary);
      border-radius: 1.5rem;
      padding: 0.4rem 0.8rem;

      > svg {
        margin-right: 0.5rem;
      }
    }
  }

  &.canvas {
    padding: 0;
    min-height: 100vh;
  }
  h1 {
    font-family: Unbounded, sans-serif;
    margin-bottom: 1.75rem;
  }
  h3 {
    font-family: InterBold, sans-serif;
    margin: 2rem 0.5rem 1rem;
  }
}
