/* Copyright 2024 @rossbulat/polkadot-live-app authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

/* Mixins */

@mixin modal-motion-sections {
  display: flex;
  height: auto;
  position: relative;
  overflow: hidden auto;
}

@mixin modal-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: inherit transparent;

  ::-webkit-scrollbar {
    width: 0.1rem;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
    border: 0;
  }

  ::-webkit-scrollbar-thumb {
    background-color: transparent; /* color of the scroll thumb */
    border-radius: 2rem; /* roundness of the scroll thumb */
    border: 0.1rem solid transparent; /* creates padding around scroll thumb */
  }
}

/* Component styles */

.modal-motion-two-sections {
  @include modal-motion-sections;

  width: 200%;

  > .section {
    @include modal-scrollbar;

    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    min-width: 50%;
    height: auto;
    overflow: hidden auto;
    flex-grow: 1;
  }
}

.modal-carousel {
  display: flex;
  flex-flow: column wrap;
  padding: 0;
  position: relative;
  overflow: hidden auto;
  width: 100%;
}

.modal-tabs {
  width: 100%;
  display: flex;
  margin: 1.25rem 0 0.25rem;
}


.modal-hardware-item {
  background: var(--background-default);
  border: 1px solid var(--border-primary-color);
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  width: 100%;

  .body {
    padding: 0.5rem 0.85rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .row {
      display: flex;
      justify-content: center;

      p {
        margin-bottom: 0;
      }

      &.margin {
        margin-top: 0.75rem;
      }

      .logo {
        color: var(--text-color-secondary);
        height: 3rem;
        margin: 0.75rem 0.5rem 0.5rem;
      }
    }

    .status {
      position: absolute;
      top: 0.9rem;
      right: 0.9rem;
    }
  }
}

.modal-connect-item {
  flex-grow: 0;

  &.can-connect {
    > .inner {
      transition: transform 0.15s;

      &:hover {
        transform: scale(1.015);
      }
    }
  }

  .foot {
    padding: 0.85rem;

    .link {
      color: var(--text-color-secondary);
      transition: color 0.15s;

      &:hover {
        color: var(--accent-color-primary);
      }

      > svg {
        margin-left: 0.35rem;
        margin-top: 0.3rem;
      }
    }
  }
}



