version: 2

updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: monthly
    open-pull-requests-limit: 30
    groups:
      # Group polkadot package updates
      polkadot:
        applies-to: version-updates
        dependency-type: "production"
        patterns:
        - "@polkadot*"
        update-types:
        - "major"
        - "minor"
        - "patch"
      # Group eslint package updates
      eslint:
        applies-to: version-updates
        dependency-type: "development"
        patterns:
        - "eslint"
        - "eslint-config-prettier"
        - "eslint-import-resolver-typescript"
        - "eslint-plugin-import"
        - "eslint-plugin-prettier"
        - "eslint-plugin-react"
        - "eslint-plugin-react-hooks"
        - "eslint-plugin-unused-imports"
        update-types:
        - "major"
        - "minor"
        - "patch"
      # Group typescript-eslint package updates
      typescript-eslint:
        applies-to: version-updates
        dependency-type: "development"
        patterns:
        - "@typescript-eslint*"
        update-types:
        - "major"
        - "minor"
        - "patch"

  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: monthly
