version: 2

updates:
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: monthly
    open-pull-requests-limit: 10
    groups:
      # Group w3ux package updates.
      w3ux:
        applies-to: version-updates
        dependency-type: "production"
        patterns:
        - "@w3ux*"
        update-types:
        - "major"
        - "minor"
        - "patch"

  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: monthly
