*.css
*.svg
*.png
*.json
*.log
*.lock
*.md
*.ico
*.ttf
*.xml
*.txt
*.html
*.webmanifest
LICENSE
dist
build
forge.config.ts
vite.main.config.ts
vite.preload.config.ts
vite.renderer.config.ts
public/lottie/player.js