/* Copyright 2025 @polkadot-live/polkadot-live-app authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

.theme-dark {
  /* General: Backgrounds */
  --background-window: #111;
  --background-window-content: #0e0e0e;
  --background-surface: #181818;
  --background-primary: #1c1c1c;
  --background-primary-hover: #212121;
  --background-overlay: rgb(22 18 22 / 70%);
  --background-overlay-surface: rgba(32, 32, 32, 0.7);
  --background-drop-down: #272727;

  --accent-primary: #ac2461;
  --accent-secondary: #a94a75;
  --accent-warning: #b1832f;
  --accent-success: #2c7a2c;

  /* General: Borders */
  --border-primary-color: #262626;
  --border-secondary-color: #414141;
  --border-mid-color: #3a3a3a;
  --border-subtle: #2e2e2e;

  /* General: Buttons */
  --button-background-primary: #2d2d2d;
  --button-background-primary-hover: #373737;
  --button-pink-background: #953254;
  --button-pink-color: #ededed;
  --button-background-secondary: #464646;

  /* General: Chains */
  --polkadot-pink: #ac2461;

  /* General: Scrollbar */
  --scrollbar-track-background-color: #101010;
  --scrollbar-thumb-background-color: #212121;
  --scrollbar-thumb-background-color-hover: #2e2e2e;

  /* General: Switch */
  --switch-disable-background: #101010;
  --switch-disable-border: #252525;
  --switch-disable-color: #252525;

  /* General: Text */
  --text-main-heading: #d33079;
  --text-highlight: #f1f1f1;
  --text-dimmed: #4e4e4e;
  --text-bright: #ececec;
  --text-active: #ececec;
  --text-color-primary: #b8b3b9;
  --text-color-secondary: #938e94;
  --text-color-tertiary: #c7c7c7;
  --text-color-invert: #0f0e0f;

  /* Accordion */
  --accordion-background-hover: #151515;

  /* Cog Menu */
  --menu-button-hover: #333;
  --menu-text-disabled: #636363;
  --card-shadow-color: rgb(28 24 28 / 25%);

  /* Dialog */
  --dialog-content-background: rgb(36, 36, 36);
  --dialog-scrollbar-track-background-color: #121212;
  --dialog-scrollbar-thumb-background-color: #191919;
  --dialog-scrollbar-thumb-background-color-hover: #2a2a2a;

  /* Ellipsis Spinner */
  --ellipsis-spinner-color: #afafaf;

  /* Header */
  --badge-alpha-color: #959595;
  --badge-alpha-background: #2a2a2a;

  /* Help Overlay */
  --help-definition-fallback: #282728;
  --help-definition-gradient-start: rgb(74 74 74 / 35%);
  --help-definition-gradient-end: rgb(62 62 62 / 52%);

  /* Side Nav */
  --nav-background: #1a1919;
  --nav-button-background: #313131;
  --nav-button-background-active: var(--accent-primary);
  --nav-button-background-hover: #3d3d3d;
  --nav-button-icon: #c9c9c9;
  --nav-button-text: #b8b3b9;
  --nav-button-icon-active: #c9c9c9;
  --nav-button-text-active: #b8b3b9;

  /* Sort Controls */
  --sort-button-background: #313131;
  --sort-button-background-hover: #3a3a3a;
  --sort-button-text: #ededed;

  /* Stats */
  --stats-background-highlight: #242424;
  --stats-text-title: #d1d1d1;

  /* Legacy */
  --background-default: #171717;
  --background-invert: #ddd;
  --background-status-overlay: rgb(43 38 43 / 75%);
  --button-hover-background: #333;
  --button-primary-background: rgb(58 52 58);
  --modal-background-color: rgb(22 18 22 / 70%);

  --accent-color-primary: var(--accent-color-primary-dark);
  --accent-color-secondary: var(--accent-color-secondary-dark);
  --accent-color-tertiary: var(--accent-color-tertiary-dark);
  --accent-color-stroke: var(--accent-color-stroke-dark);
  --accent-color-transparent: var(--accent-color-transparent-dark);
  --accent-color-pending: var(--accent-color-pending-dark);
}

.theme-light {
  /* General: Backgrounds */
  --background-window: #eee;
  --background-window-content: #f3f3f3;
  --background-surface: #dadada;
  --background-primary: #e1e1e1;
  --background-primary-hover: #d8d8d8;
  --background-overlay: rgba(120, 120, 120, 0.5);
  --background-overlay-surface: rgba(245, 245, 245, 0.7);
  --background-drop-down: #eee;

  --accent-primary: #ac2461;
  --accent-secondary: #a94a75;
  --accent-warning: #c3590e;
  --accent-success: #2c7a2c;

  /* General: Borders */
  --border-primary-color: #b9b9b9;
  --border-secondary-color: #8a8a8a;
  --border-mid-color: #a8a8a8;
  --border-subtle: #bdbdbd;

  /* General: Buttons */
  --button-background-primary: #d2d2d2;
  --button-background-primary-hover: #c8c8c8;
  --button-pink-background: #953254;
  --button-pink-color: #ededed;
  --button-background-secondary: #a5a5a5;

  /* General: Chains */
  --polkadot-pink: #ac2461;

  /* General: Scrollbar */
  --scrollbar-track-background-color: #d8d8d8;
  --scrollbar-thumb-background-color: #afafaf;
  --scrollbar-thumb-background-color-hover: #9b9b9b;

  /* General: Switch */
  --switch-disable-background: #efefef;
  --switch-disable-border: #cecece;
  --switch-disable-color: #cecece;

  /* General: Text */
  --text-main-heading: #d33079;
  --text-highlight: #0e0e0e;
  --text-dimmed: #a5a5a5;
  --text-bright: #ececec;
  --text-active: #0e0e0e;
  --text-color-primary: #4a4a4a;
  --text-color-secondary: #6b6b6b;
  --text-color-tertiary: #4f4f4f;
  --text-color-invert: #050505;

  /* Accordion */
  --accordion-background-hover: #e5e5e5;

  /* Cog Menu */
  --menu-button-hover: #ccc;
  --menu-text-disabled: #9c9c9c;
  --card-shadow-color: #d1d1d1;

  /* Dialog */
  --dialog-content-background: rgb(242, 242, 242);
  --dialog-scrollbar-track-background-color: #d8d8d8;
  --dialog-scrollbar-thumb-background-color: #afafaf;
  --dialog-scrollbar-thumb-background-color-hover: #9b9b9b;

  /* Ellipsis Spinner */
  --ellipsis-spinner-color: #505050;

  /* Header */
  --badge-alpha-color: #545454;
  --badge-alpha-background: #f1f1f1;

  /* Help Overlay */
  --help-definition-fallback: #c9c9c9;
  --help-definition-gradient-start: rgb(177 177 177 /47%);
  --help-definition-gradient-end: rgb(191 191 191 / 57%);

  /* Side Nav */
  --nav-background: #e5e6e6;
  --nav-button-background: #cecece;
  --nav-button-background-active: var(--accent-primary);
  --nav-button-background-hover: #c2c2c2;
  --nav-button-icon: #363636;
  --nav-button-text: #5e5e5e;
  --nav-button-text-active: #e9e9e9;

  /* Sort Controls */
  --sort-button-background: #cecece;
  --sort-button-background-hover: #c5c5c5;
  --sort-button-text: #121212;

  /* Stats */
  --stats-background-highlight: #dbdbdb;
  --stats-text-title: #505050;

  /* Legacy */
  --background-default: #efeeee;
  --background-invert: #333;
  --background-status-overlay: rgb(255 255 255 / 85%);

  --button-primary-background: #efeeee;
  --button-hover-background: #e8e6e6;
  --modal-background-color: rgb(224 222 222 / 70%);

  --accent-color-primary: var(--accent-color-primary-light);
  --accent-color-secondary: var(--accent-color-secondary-light);
  --accent-color-tertiary: var(--accent-color-tertiary-light);
  --accent-color-stroke: var(--accent-color-stroke-light);
  --accent-color-transparent: var(--accent-color-transparent-light);
  --accent-color-pending: var(--accent-color-pending-light);
}
