/* Copyright 2024 @paritytech/polkadot-live authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

/* light theme colors */
.theme-light {
  --background-default: #efeeee;
  --background-primary: #f8f7f7;
  --background-invert: #333;
  --background-modal: #f9f7f7;
  --background-status-overlay: rgb(255 255 255 / 85%);
  --background-menu: #eaeaea;

  --text-color-primary: #3f3f3f;
  --text-color-secondary: #555;
  --text-color-invert: #fafafa;

  --border-primary-color: #e4e4e4;
  --border-secondary-color: #cfcccc;

  --button-primary-background: #efeeee;
  --button-hover-background: #e8e6e6;
  
  --modal-background-color: rgb(224 222 222 / 70%);

  --card-shadow-color: rgb(158 158 158 / 20%);

  --accent-color-primary: var(--accent-color-primary-light);
  --accent-color-secondary: var(--accent-color-secondary-light);
  --accent-color-tertiary: var(--accent-color-tertiary-light);
  --accent-color-stroke: var(--accent-color-stroke-light);
  --accent-color-transparent: var(--accent-color-transparent-light);
  --accent-color-pending: var(--accent-color-pending-light);
}

/* dark theme colors */
.theme-dark {
  --background-default: rgb(36 32 36);
  --background-primary: rgb(45 41 45);
  --background-invert: #ddd;
  --background-modal: rgb(43 38 43);
  --background-status-overlay: rgb(43 38 43 / 75%);
  --background-menu: rgb(57 52 58);

  --text-color-primary: #b8b3b9;
  --text-color-secondary: #938e94;
  --text-color-invert: #0f0e0f;

  --border-primary-color: rgb(58 52 58);
  --border-secondary-color: rgb(95 90 95);

  --button-primary-background: rgb(58 52 58);
  --button-hover-background: rgb(66 61 68);
  
  --modal-background-color: rgb(22 18 22 / 70%);

  --card-shadow-color: rgb(28 24 28 / 25%);

  --accent-color-primary: var(--accent-color-primary-dark);
  --accent-color-secondary: var(--accent-color-secondary-dark);
  --accent-color-tertiary: var(--accent-color-tertiary-dark);
  --accent-color-stroke: var(--accent-color-stroke-dark);
  --accent-color-transparent: var(--accent-color-transparent-dark);
  --accent-color-pending: var(--accent-color-pending-dark);
  }
