/* Copyright 2024 @rossbulat/polkadot-live-app authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

.show {
  display: inherit;
}
.hide {
  display: none;
}

@keyframes fadeIn { 
  from { opacity: 0.6; } 
}
.animate-fade {
  opacity: 0.8;
  animation: fadeIn 1s infinite alternate;
}