/* Copyright 2025 @polkadot-live/polkadot-live-app authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

body {
  width: 500px;
  height: 600px;
  margin: 0;
  display: flex;
}
#root {
  width: 100%;
  height: 100%;
}
