/* Copyright 2025 @polkadot-live/polkadot-live-app authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

#root {
  width: 100%;
}
.placeholder {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
