/* Copyright 2025 @polkadot-live/polkadot-live-app authors & contributors
SPDX-License-Identifier: GPL-3.0-only */

body {
  width: 500px;
  height: 600px;
  margin: 0;
  display: flex;
}
#root {
  width: 100%;
  height: 100%;
}
.container {
  background-color: var(--background-surface);
  padding: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.placeholder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
