html {
  font-size: 11.7px;
  font-family: Inter, sans-serif;
}
h1 {
  color: var(--text-color-primary);
}
h2 {
  color: var(--text-color-primary);
}
h3 {
  color: var(--text-color-primary);
}
h4 {
  color: var(--text-color-primary);
}
h5 {
  color: var(--text-color-primary);
}
p {
  color: var(--text-color-secondary);
}
a {
  color: var(--text-color-secondary);
}
button {
  color: var(--text-color-secondary);
}