name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check-license:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v4
        with:
          cache: 'yarn'
      - name: Check License Lines
        uses: kt3k/license_checker@v1.0.6
  
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v4
        with:
          cache: 'yarn'
      - name: Check Markdown Links
        uses: tcort/github-action-markdown-link-check@v1
        with:
          base-branch: main
          use-quiet-mode: 'yes'
          check-modified-files-only: 'yes'
          config-file: 'check-markdown-links-config.json'

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          cache: 'yarn'
          node-version: ${{ matrix.node-version }}
      - run: yarn install
      - run: yarn vendors
      - run: yarn build:encoder
      - run: yarn build:contexts
      - run: yarn build:core
      - run: yarn build:ui
      - run: yarn build:screens
      - run: yarn lint