name: Release Linux
on: workflow_dispatch

jobs:
  publish_on_ubuntu:
    runs-on: ubuntu-latest
    steps: 
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        cache: 'yarn'
        node-version: 23.x
    - uses: actions/setup-python@v5
      with:
        python-version: '3.10' 
    - name: Install System Libraries
      run: |
        sudo apt update
        sudo apt install -y libudev-dev libusb-1.0-0-dev
    - name: Install Python Setuptools
      run: python -m pip install setuptools
    - name: Install Dependencies
      run: yarn install
    - name: Publish
      env:
        GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
        EP_GH_IGNORE_TIME: true
        MODE: 'production'
        NODE_OPTIONS: '--max-old-space-size=4096'
      run: yarn vendors && yarn package
